$green: #1ec6b6;
$light-grey: #f7f7f7;
$dark: #0e1010;
$trans: all 0.3s ease-in-out;


.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    padding: 1.8rem 0;
    z-index: 999;
    & .container {
        justify-content: space-between;
    }
    &-collapse-rmw{
        transform: translateX(0) !important;
    }
    &-nav{
        margin-top: 5rem;
    }
    &-item{
        margin: 1.6rem;
    }
    &-link{
        color: #fff;
        font-size: 2.6rem;
        font-weight: 300;
        line-height: 1.6;
        transition: $trans;
        padding: 0.2rem;
        &:hover{
            font-weight: 400;
            opacity: 0.8;
            // opacity: 1;
        }
    }

}
.site-brand {
    color: #fff;
    font-size: 4.4rem;
    font-family: 'Raleway', sans-serif ;
    font-weight: 600;
    opacity: 0.95;
    & span{
        font-weight: 300;
        // letter-spacing: 0.1px;
    }
}
#navbar{
    &-show-btn{
    background: transparent;
    color: #fff;
    font-size: 2.4rem;
    opacity: 0.9;
    transition: $trans;
    border: none;
        &:hover{
            opacity: 1;
        }
    }
    &-collapse{
        background-color: $green;
        position: fixed;
        top: 0;
        right: 0; 
        width: 30rem;
        height: 100%;
        padding: 2.8rem;
        transform: translateX(100%);
        transition: $trans;
    }
    &-close-btn{
        background: none;
        color: #fff;
        width: 35px;
        border-radius: 0.2.8rem;
        font-size: 2.8rem;
        transition: $trans;
        position: absolute;
        right: 1.4rem;
        top: 2.8rem;

    }
    &-close-btn{
        background:none;
        color: #fff;
        width: 35px;
        height: 35px;
        border-radius: 0.2.8rem;
        transition: $trans;
        position: absolute;
        right: 1.4rem;
        top: 2.8rem;
        border: none; 
        &:hover{
            background-color: #fff;
            color: $green;
        }

    }
}
header {
    min-height: 100vh;
    padding-top: 7rem;
    background: linear-gradient((rgba(0,0,0,0.4),rgba(0,0,0,0.4))), url(../image/bannertournuocngoai.png) center/cover no-repeat;
    flex-direction: column;
    color: #fff;
    text-align: center;
}
.header-title h1 {
    font-size: 3.5rem;
    letter-spacing: 2px;
    animation: bounce-in-top 1.1s both;
}
@keyframes bounce-in-top {
    0%{
        transform: translateY(-500px);
        animation-timing-function: ease-in;
        opacity: 0;
    }
    38%{
        transform: translateY(0px);
        animation-timing-function: ease-out;
        opacity: 1;
    }
    55%{
        transform: translateY(-65px);
        animation-timing-function: ease-in;
        // opacity: 0;
    }
    72%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    81%{
        transform: translateY(-28px);
        animation-timing-function: ease-in;
    }
    90%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    95%{
        transform: translateY(-8px);
        animation-timing-function: ease-in;
    }
    100%{
        transform: translateY(0);
        animation-timing-function: ease-out;
    }
    
}
.header-title p {
    margin: 1.8rem auto;
    max-width: 700px;
    font-weight: 500;
    font-size: 2.1rem;
    line-height: 1.7;
}
.header-form {
    background: rgba(0,0,0,0.5);
    padding: 3rem;
    border-radius: 0.2.8rem;
    & h3 {
        font-size: 2.2rem;
    }
    & form{
        flex-direction: column;
        margin-top: 1.8rem;
    }
    & form .form-control {
        box-shadow: 2px 4px 4px rgba(0,0,0, 0.4);
    }
    & input {
        margin-right: 1rem;
    }
    & input[ type = "date"] {
        text-transform: uppercase;
        color: #fff;
    }
    & input:not([type = "submit"])::placeholder {
        color: #fff;
    }
   
}
::-webkit-calendar-picker-indicator {
    filter: invert(1); 
} 

// change background on scroll
.navbar-cng {
    background-color: #fff;
    box-shadow: 0 4px 5px 0 rgba(48, 48, 48, 0.2);
    transition: $trans;
    & .site-brand {
        color: $dark;
        & span{
            color: $green;
        }
    }
    & #navbar-show-btn {
        color: $green;
    }

}

// featured
.featured-item {
    position: relative;
    width: 100%;
    overflow: hidden;
    transition: $trans;
    &::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);
    }
    &-content {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 2;
        color: #fff;
        width: 100%;
        padding: 1.2rem;
        transform: translateY(68%);
        transition: $trans;
        padding-right: 2rem;

        & i {
            padding-right: 5px;
        }
        & span {
            font-size: 1.8rem;
            font-weight: 600;
            display: block;
            margin-bottom: 1.4rem;
            text-transform: capitalize;
        }
        & .text {
            font-size: 1.6rem;
            color: #fff;
            transition: $trans;
        }
    }
    &:hover .featured-item-content {
        transform:  translateY(0);
    }
}

#services {
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../image/servicestravel.jpg) center/cover no-repeat;
    & *{
        color: #fff;
    }
}
.services{
    &-item {
        text-align: center;
        padding: 2.2rem 0.8rem;
        margin: 2.2rem 0;
        & h3 {
            margin: 1.2rem 0;
            font-size: 2.2rem;
        }
        & .btn {
            margin-top: 1.8rem;
            display: inline-block;
        } 
        & .text {
            font-size: 1.6rem;
        }
    }
    &-icon {
        font-size: 3.5rem;
    }


}

#testimonials {
    background-color: $light-grey;
}
.test {
    &-item {
        border: 2px solid $light-grey;
        padding: 3rem 2rem;
        position: relative;
        background-color: #fff;
        border-radius: 5px;
        margin: 5rem 0 15rem 0;
        &::after{
            content: "";
            position: absolute;
            bottom: -20px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 0;
            border-left: 20px solid transparent;
            border-right: 20px solid transparent ;
            border-top: 20px solid #fff;
        }
        & .text {
            text-align: justify;

            font-size: 1.6rem;
        }
        &-info{
            position: absolute;
            top: 110%;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
            & img {
                width: 80px;
                height: 80px;
                border-radius: 100%;
                margin: 1.2rem;
            }
            & h3 {
                font-size: 2rem;
                margin-bottom: 3px;
            }
        }
    }
}

.video-wrapper {
    height: 500px;
    position: relative;
    & video {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
#play-btn {
    position: absolute;
    z-index: 5;
    width: 80px;
    height: 80px;
    background-color: $green;
    color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 3rem;
    padding-left: 0.6rem ;
    transition: $trans;
}

// footer

footer{
    background-color: $dark;
    color: #fff;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        background-color: $green;
        height: 4px;
        top: 0;
        left: 0;
        width: 100%;
        & .site-brand {
            margin-bottom: 1.5rem;
            display: block;
            font-size: 2.2rem !important;
        }
    }
}
.footer-item {
    margin: 3.2rem 0;
    
    
    & .site-brand{
        display: block;
        margin: auto;
        font-size: 2.2rem;
        padding-bottom: 1.2rem ;
        & p .text {
            font-size: 2rem;
            text-align: justify;
        }
    }
    & a{
        
        color: #fff;
        transition: $trans;
        &:hover {
            color: $green;
        }
    }
    & ul {
        padding: 0;
    }
    & h2 {
        font-size: 2rem;
        margin-bottom: 1.6rem;
    }
    &:nth-child(3) li {
        margin: 1rem 0;
    }
    &:nth-child(3) a {
        display: inline-block;
        font-size: 1.4rem;
        font-weight: 400;
        opacity: 0.7 ;
    }
}
.social {
    &-links {
        display: flex;
        justify-content: center;
        & li {
            margin: 0.7rem;
        }
    }
    &-icon {
        font-size: 2rem;
        margin: 0 2rem;
    }
}
 
.subscribe-form {
    & form {
        flex-direction: column;
        
        & input {
            width: 100%;
            max-width: 300px;
            margin: auto;
        }
        &[type = email]::placeholder{
            color: #fff;
            opacity: 0.3;
        }
    }
    & .form-control {
        margin-bottom: 1.2rem;
        border-color: rgba(255,255, 255, 0.3);
        transition: $trans;
        &:focus{
            border-color: #fff;
        }
    }
}



// GALLERY

header.header-sm {
    min-height: 60vh;
}


.gallery-item {
    margin: 2.2rem 0;
    
    overflow: hidden;
    position: relative;
    transition: $trans;
    cursor: pointer;
    &::after {
        content: "";
        z-index: 1;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);    
    }
    & img {
        width: 100%;
        height: 100%;
        max-height: 300px;
        object-fit: cover;
        transition: $trans;
    }
    &:hover img {
        transform: scale(1.2);
    }
    &:hover .zoom-icon {
        opacity: 1;
    }
}
.zoom-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 5rem;
    color: #fff;
    z-index: 2;
    opacity: 0;
    transition: $trans;
}
#img-modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-width: 800px;

    &-box {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.9);
        z-index: 999;
        display: none;
        & button {
            position: absolute;
            font-size: 2rem;
            background-color: #fff;
            width: 35px;
            height: 35px;
            padding: 3rem;
            border-radius: 50%;
            transition: $trans;
            border: none;
            &:hover {
                opacity: 0.9;
            }
        }
    }
    & img {
        object-fit: cover;
        max-width: 100%;
        height: 500px;

    }
    
}
#modal-close-btn {
    top: -17.5px;
    right: -17.5px;
    z-index: 999;
}
#next-btn {
    top: 50%;
    right: -3rem;
    transform: translateY(-50%);
}

#prev-btn {
    top: 50%;
    left: -3rem;
    transform: translateY(-50%);
}
#next-btn:hover, #prev-btn:hover {
    background-color: $dark;
    color: #fff;
    transition: $trans;
}



#popular.py-4 {
    padding-bottom: 0;
}
.popular-item {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    transition: $trans;
    &::after {
        content: "";
        z-index: 1;
        position: absolute;
        bottom: 0;
        top: 0;
        right: 0;
        left: 0;
        background: linear-gradient(to bottom, transparent 0%, transparent 18%, rgba(0,0,0,0.8) 99%, rgba(0,0,0,0.8) 100%);    
    }
    & div {
        position: absolute;
        color: #fff;
        z-index: 2;
        width: 100%;
        bottom: -100%;
        // bottom: 0;
        padding: 2.2rem;
        transition: $trans;
    }
    & .rating {
        justify-content: flex-start;
        margin: 0.7rem 0;
        font-size: 1.9rem;
        opacity: 0.8;
        padding: 0;
    }
    &:hover div {
        background-color: #fff;
        color: #000;
        bottom:0;
        opacity: 0.95;
    }
    & span {
        font-size: 2rem;
        font-weight: 400;
    }
}
