.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  padding: 1rem 0;
  z-index: 999;
}
.navbar .container {
  justify-content: space-between;
}
.navbar-collapse-rmw {
  transform: translateX(0) !important;
}
.navbar-nav {
  margin-top: 5rem;
}
.navbar-item {
  margin: 1.6rem;
}
.navbar-link {
  color: #fff;
  font-size: 1.2rem;
  transition: all 0.3s ease-in-out;
}
.navbar-link:hover {
  opacity: 0.8;
}

.site-brand {
  color: #fff;
  font-size: 2.4rem;
  font-family: "Raleway", sans-serif;
  font-weight: 600;
  opacity: 0.95;
}
.site-brand span {
  font-weight: 300;
}

#navbar-show-btn {
  background: transparent;
  color: #fff;
  font-size: 2rem;
  opacity: 0.9;
  transition: all 0.3s ease-in-out;
  border: none;
}
#navbar-show-btn:hover {
  opacity: 1;
}
#navbar-collapse {
  background-color: #1ec6b6;
  position: fixed;
  top: 0;
  right: 0;
  width: 30rem;
  height: 100%;
  padding: 2rem;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
}
#navbar-close-btn {
  background: none;
  color: #fff;
  width: 35px;
  border-radius: 0.2rem;
  font-size: 2rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 1rem;
  top: 2rem;
}
#navbar-close-btn {
  background: none;
  color: #fff;
  width: 35px;
  height: 35px;
  border-radius: 0.2rem;
  transition: all 0.3s ease-in-out;
  position: absolute;
  right: 1rem;
  top: 2rem;
  border: none;
}
#navbar-close-btn:hover {
  background-color: #fff;
  color: #1ec6b6;
}

header {
  min-height: 100vh;
  padding-top: 7rem;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(../image/bannertournuocngoai.png) center/cover no-repeat;
  flex-direction: column;
  color: #fff;
  text-align: center;
}

.header-title h1 {
  font-size: 2.8rem;
  letter-spacing: 2px;
  animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
  0% {
    transform: translateY(-500px);
    animation-timing-function: ease-in;
    opacity: 0;
  }
  38% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
  55% {
    transform: translateY(-65px);
    animation-timing-function: ease-in;
  }
  72% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  81% {
    transform: translateY(-28px);
    animation-timing-function: ease-in;
  }
  90% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
  95% {
    transform: translateY(-8px);
    animation-timing-function: ease-in;
  }
  100% {
    transform: translateY(0);
    animation-timing-function: ease-out;
  }
}
.header-title p {
  margin: 1.8rem auto;
  max-width: 700px;
  font-weight: 500;
  font-size: 1.1rem;
}

.header-form {
  background: rgba(0, 0, 0, 0.5);
  padding: 3rem;
  border-radius: 0.2rem;
}
.header-form h3 {
  font-size: 1.2rem;
}
.header-form form {
  flex-direction: column;
  margin-top: 1.8rem;
}
.header-form form .form-control {
  box-shadow: 2px 4px 4px rgba(0, 0, 0, 0.4);
}
.header-form input[type=date] {
  text-transform: uppercase;
  color: #fff;
}
.header-form input:not([type=submit])::placeholder {
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
