footer {
    position: relative;
    background-color: $dark;
    color: #fff;
    text-align: center;
    &::before {
        position: absolute;
        content: "";
        width: 100%;
        height: 3px;
        top: 0;
        left: 0;
        background-color: $primary-color;
    }
}
.footer{
    &-row {
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
    &__item {
        .site-brand {
            display: block;
            color: #fff;
            font-size: 2.2rem;
            font-weight: 600;
            font-family: "Open Sans", sans-serif ;
            padding: 0rem 2rem 1rem;
            line-height: 1.4;
            // margin-bottom: 1rem;
            & span{
                font-weight: 300;
            }
            &:hover {
                color: $primary-color;
            }
        }
        &-icon--list{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
        }
        &--link {
            display: block;
            margin: 2rem 0;
            & a {
                
                    color: #fff;
                    font-size: 1.9rem;
                    padding: 1rem 3rem;
                    opacity: 0.8;
                    &:hover {
                        color: $primary-color;
                        opacity: 1;
                    }
            }
        }
        & h2 {
            font-size: 2.2rem;
            font-weight: 600;
            margin-bottom: 1rem;
        }
        .subcribe {
                
            &__form {
                margin: 0 auto;
                flex-wrap: wrap;
                flex-direction: row;
                max-width: 350px;
                input{
                    margin: 2rem 0 0;
                }
            }
        }
    }
}